#game, .enemy, .actionOutput, .playerDeath {
  display: none
}

#new-character{
  display: none;

}

/* .rules{
  display: none;
} */

html, body {
  margin:0px;
  height:100%;
}

.center {
  text-align: center;
}

.rules{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

#begin{
  margin-top: 20px;
}

.title {
  font-family: 'MedievalSharp';
  text-align: center;
  filter: drop-shadow(0 0 0.5rem grey);
  color: grey;
  -webkit-text-stroke: 1px black;
  margin-top: 30px;
  margin-bottom: 20px;
}

#submitCharacter{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.character, .enemyName{
  text-decoration: underline;
}

.allPlayerStats {
  border-radius: 25px;
  border: 2px solid lightgrey;
  padding: 20px;
}

.enemy {
  border-radius: 25px;
  border: 2px solid lightgrey;
  background-color: rgba(210, 50, 50, .4);
  padding: 20px;
  margin-top: 20px;
}

.actionOutput {
  text-align: center;
  bottom: 20%;
  right: 20%;
  border: 2px solid lightgrey;
  border-radius: 25px;
  width: 500px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffe680;
}

.controlPanel {
  bottom: 2%;
  right: 20%;
  border-radius: 25px;
  height: 150px;
  width: 500px;
  background-color:lightgrey;
}

.btn-success, .btn-primary, .btn-danger{
  border-radius: 25px;
  padding: 15px;
  width: 100px;
  margin-left: 90px;
  margin-top: 50px;
}

.bottomPanels {
  /* align-items: center; */
  position: absolute;
  bottom: 10px;
  
}

.playerDeath{
  background-color: #2d3436;  
  height:100%;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

.tombstone{
  position: absolute;
  width: 100px;
  height: 137px;
  background-color: darkgrey;
  left: calc(50% - 25px);
  top: calc(25%);
  border: 5px solid grey;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  text-align: center;

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.ripText{
  text-align: center;
  margin-top: 20%;
  font-family:cursive;
  max-width:80px;
  word-wrap:break-word;
}

.youDiedLetters{
  color: red;
  word-wrap:break-word;
  font-weight: 300;
  font-size: 60px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  top: 50%;
  left: calc(50% - 300px);
  animation: fadeIn 8s;
} 

/* ATTEMPTING TO IMPLEMENT DESIRED CSS RATTLE ANIMATION FROM https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */
.classname {
  animation: shake-red 0.82s cubic-bezier(.36,.07,.19,.97) both; 
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.classname2 {
  animation: shake-green 0.82s cubic-bezier(.36,.07,.19,.97) both; 
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake-red {

  0% {
    transform: scale(1,1);
  }

  10%{
    transform:  scale(1.10,1.10) translate3d(-1px, 0, 0);
    color: red;
  }
  
  20% {
    transform:  scale(1.10,1.10) translate3d(2px, 0, 0);
    color: red;
  }

  30% {
    transform:  scale(1.10,1.10) translate3d(-4px, 0, 0);
    color: red;
  }

  40% {
    transform:  scale(1.10,1.10) translate3d(4px, 0, 0);
    color: red;
  }

  50% {
    transform: scale(1.10, 1.10) translate3d(-4px, 0, 0);
    color: red;
  }

  60% {
    transform: scale(1.10, 1.10) translate3d(4px, 0, 0);
    color: red;
  }

  70% {
    transform: scale(1.10, 1.10) translate3d(-4px, 0, 0);
    color: red;
  }

  80% {
    transform: scale(1.10, 1.10) translate3d(2px, 0, 0);
    color: red;
  }

  90% {
    transform: scale(1.10,1.10) translate3d(-1px, 0, 0);
    color: red;
  }

  100%{
    color:black;
    transform: scale(1, 1);
  }
}

@keyframes shake-green {

  0% {
    transform: scale(1,1);
  }

  10%{
    transform:  scale(1.10,1.10) translate3d(-1px, 0, 0);
    color: green;
  }
  
  20% {
    transform:  scale(1.10,1.10) translate3d(2px, 0, 0);
    color: green;
  }

  30% {
    transform:  scale(1.10,1.10) translate3d(-4px, 0, 0);
    color: green;
  }

  40% {
    transform:  scale(1.10,1.10) translate3d(4px, 0, 0);
    color: green;
  }

  50% {
    transform: scale(1.10, 1.10) translate3d(-4px, 0, 0);
    color: green;
  }

  60% {
    transform: scale(1.10, 1.10) translate3d(4px, 0, 0);
    color: green;
  }

  70% {
    transform: scale(1.10, 1.10) translate3d(-4px, 0, 0);
    color: green;
  }

  80% {
    transform: scale(1.10, 1.10) translate3d(2px, 0, 0);
    color: green;
  }

  90% {
    transform: scale(1.10,1.10) translate3d(-1px, 0, 0);
    color: green;
  }

  100%{
    color:black;
    transform: scale(1, 1);
  }
}


@keyframes floating {

  0%{ 
    transform: translate(0,  0px);
    }
  50%{ 
    transform: translate(0, 15px); 
  }
  100%{ 
    transform: translate(0, -0px); 
  }   
}

@keyframes fadeIn{

  0%{ 
    opacity: 0;
    }
  50%{ 
    opacity: 100%;
  }
  100%{ 
    opacity: 0%;
  }   
}