#game {
  display: none
}

.enemy, .actionOutput {
  display: none;
}

.actionOutput {
  text-align: center;
  position: fixed;
  bottom: 20%;
  right: 20%;
  border: 2px solid lightgrey;
  border-radius: 25px;
  width: 500px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}


.title {
  font-family: 'MedievalSharp';
  text-align: center;
  filter: drop-shadow(0 0 0.5rem grey);
  color: grey;
  -webkit-text-stroke: 1px black;
  margin-top: 30px;
  margin-bottom: 20px;
}

.allPlayerStats {
  border-radius: 25px;
  border: 2px solid lightgrey;
  padding: 20px;
}

.enemy {
  border-radius: 25px;
  border: 2px solid lightgrey;
  background-color: rgba(210, 50, 50, .4);
  padding: 20px;
  margin-top: 20px;
}

.btn-success, .btn-primary, .btn-danger{
  border-radius: 25px;
  padding: 15px;
  width: 100px;
  margin-left: 90px;
  margin-top: 50px;
}

.controlPanel {
  position: fixed;
  bottom: 2%;
  right: 20%;
  border-radius: 25px;
  height: 150px;
  width: 500px;
  background-color:lightgrey;
}

.center {
  text-align: center;
}

#submitCharacter{
  text-align: center;
  margin-top: 25px;
}

.character, .enemyName{
  text-decoration: underline;
}
